In [2]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

df = pd.read_csv("DecisionTreesClassificationDataSet.csv")

In [3]:
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

In [4]:
# verilerin sayisal yani y yerine 1 n yerine 0 bs yerine 0 phd yerine 1 olacak ms yerine 2 olacak sekilde datayi duzenliyoruz

fixing = {'Y' : 1, 'N':0}

df['IseAlindi'] = df['IseAlindi'].map(fixing)
df['SuanCalisiyor?'] = df['SuanCalisiyor?'].map(fixing)
df['Top10 Universite?'] = df['Top10 Universite?'].map(fixing)
df['StajBizdeYaptimi?'] = df['StajBizdeYaptimi?'].map(fixing)

fixing_es = {'BS': 0 , 'PhD':1,'MS':2}

df['Egitim Seviyesi'] = df['Egitim Seviyesi'].map(fixing_es)
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,1,1,1,1
2,5,1,2,2,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

In [5]:
# sonuc sutununu ayiralim
y = df['IseAlindi']
x = df.drop(["IseAlindi"],axis=1)

In [6]:
rndm_frst_model = RandomForestClassifier(n_estimators= 200 , random_state=10) # n_estimator kac agac kullandigi
rndm_frst_model = rndm_frst_model.fit(x,y)

In [8]:
# bi deneyelim
print(rndm_frst_model.predict([[5,0,3,0,0,0]]))

[0]

C:\Users\emirh\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [9]:
print(rndm_frst_model.predict([[10,1,4,1,0,0]]))

[1]

C:\Users\emirh\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(